
.ui-box {
    border: thick double black;
    background-color: lightgray;
    padding: 5px 7px 7px 5px;
}

.goblin-box {
    border: thin solid purple;
    background-color: lightsalmon;
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    align-items: center;
}

#game-screen {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    grid-template-rows: 5fr, 1fr, 5fr;
    gap: 3px 3px;
}

#player-stats-box {
    grid-column: 1 / 5;
    grid-row: 1 / 5;
}

#player-secondary-options {
    grid-column: 1 / 4;
    grid-row: 5 / 6;
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-evenly;
    align-items: flex-start;
}

#empty-space {
    grid-column: 1 / 5;
    grid-row: 7 / 11;
    border: thick dotted red;
    height: 200px;
}

#reset-button {
    grid-column: 1 / 2;
    grid-row: 10 / 11;
}

#goblin-list {
    grid-column: 5 / 7;
    grid-row: 1 / 11;
    display: flex;
    flex-flow: column-reverse nowrap;
}

#add-goblin-controls {
    order: -1;
    display: flex;
    flex-flow: row nowrap;
}

#goblin-name-input {
    width: 80%;
}

#add-goblin-button {
    width: 20%;
}

#event-log {
    display: flex;
    flex-flow: column-reverse nowrap;
    margin-top: 5px;
    height: 10em;
}

button {
    flex-grow: 1;
    flex-basis: 50%;
    margin-left: 5px;
    margin-right: 5px;
}
